{#
/**
 * @file
 * Default theme implementation to display a formatted responsive image field.
 *
 * Available variables:
 * - responsive_image: A collection of responsive image data.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_responsive_image_formatter()
 *
 * @ingroup themeable
 */
#}

{% if url %}
  {% if alternate_path|trim is not empty %} 
    {{ link(responsive_image, alternate_path, link_attributes) }}
  {% else %}
    {{ link(responsive_image, url, link_attributes) }}
  {% endif %}
{% else %}
  {{ responsive_image }}
{% endif %}
